# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3


# Django  Migrations #
**/migrations/**
!**/migrations
!**/migrations/__init__.py
/noticias/__init__.py
/noticias/migrations/__init__.py
/miembros/__init__.py
/miembros/migrations/__init__.py
/eventos/__init__.py
/eventos/migrations/__init__.py
/proyectos/__init__.py
/proyectos/migrations/__init__.py
/publicaciones/__init__.py
/publicaciones/migrations/__init__.py

#idea
/.idea/dataSources.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/WorkSpaceCompany.iml
/.idea/.gitignore
/.idea/inspectionProfiles/Project_Default.xml

#media
/media/

# util
/Readme_util.md