{% extends "base.html" %}

{% load static %}


{% block tituloDePagina %}
Miembros
{% endblock %}

{% block contenido %}

<div class="row col-mb-80 mb-0">

    <div class="col-12">

        <div class="heading-block center border-bottom-0">
            <h2>Conoce a nuestro equipo</h2>
            <span>Valoramos la ética del trabajo, ya que ayuda a crear un grupo de reflexión creativo.</span>
        </div>


    </div>

    <div class="col-10 mx-auto">
        <a href="#"><img src="{% static 'noticias/images/sobre_nosotros.jpg' %}" alt="Noticia detallada" ></a>
    </div>

    <div class="col-lg-3 center" data-animate="bounceIn">
        <i class="i-plain i-xlarge mx-auto mb-0 icon-news"></i>
        <div class="counter counter-large" style="color: #3498db;"><span data-from="0" data-to="{{ total_noticias }}" data-refresh-interval="50" data-speed="2000"></span></div>
        <h5>Noticias publicadas</h5>
    </div>

    <div class="col-lg-3 center" data-animate="bounceIn" data-delay="200">
        <i class="i-plain i-xlarge mx-auto mb-0 icon-ticket"></i>
        <div class="counter counter-large" style="color: #e74c3c;"><span data-from="0" data-to="{{ total_eventos }}" data-refresh-interval="50" data-speed="2500"></span></div>
        <h5>Eventos realizados</h5>
    </div>

    <div class="col-lg-3 center" data-animate="bounceIn" data-delay="400">
        <i class="i-plain i-xlarge mx-auto mb-0 icon-paper-clip"></i>
        <div class="counter counter-large" style="color: #16a085;"><span data-from="0" data-to="{{ total_publicaciones }}" data-refresh-interval="50" data-speed="3500"></span></div>
        <h5>Artículos publicados</h5>
    </div>

    <div class="col-lg-3 center" data-animate="bounceIn" data-delay="600">
        <i class="i-plain i-xlarge mx-auto mb-0 icon-line2-eyeglasses"></i>
        <div class="counter counter-large" style="color: #9b59b6;"><span data-from="0" data-to="{{ total_proyectos }}" data-refresh-interval="30" data-speed="2700"></span></div>
        <h5>Proyectos desarrolados</h5>
    </div>

</div>


<div class="heading-block center">
    <h2>Grupo OurResearch</h2>
    <span>Los miembros de nuestro equipo que han contribuido enormemente a nuestro crecimiento</span>
</div>

<div class="row">
    {% for miembro in object_list %}

        <div class="col-lg-6">

            <div class="team team-list row align-items-center">
                <div class="team-image col-sm-6">
                    <a href="{% url 'mostrar_perfil_usuario' miembro.user.perfil.id  %}"><img src="{{ miembro.imagen_perfil.url }}" alt="{{ miembro.user.first_name }} {{ miembro.user.last_name }}"></a>
                </div>
                <div class="team-desc col-sm-6">
                    <a href="{% url 'mostrar_perfil_usuario' miembro.user.perfil.id  %}">
                        <div class="team-title"><h4>{{ miembro.user.first_name }} {{ miembro.user.last_name }}</h4>
                    </a>
                    <span>CEO</span></div>
                    <div class="team-content">
                        <p> {{ miembro.bio|slice:":200"|safe }}... </p>
                    </div>
                    <a href="{{ miembro.facebook_url }}" class="social-icon si-rounded si-small si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="{{ miembro.twitter_url }}" class="social-icon si-rounded si-small si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>
                    <a href="{{ miembro.instagram_url }}" class="social-icon si-rounded si-small si-gplus">
                        <i class="icon-instagram"></i>
                        <i class="icon-instagram"></i>
                    </a>
                </div>
            </div>

        </div>

    {% endfor %}
    

    

</div>

</div>










{% endblock %}

