{% extends "noticias/base.html" %}

{% load static %}



{% block listado %}
     <!-- Posts {% static 'noticias/images/blog/grid/17.jpg' %} SEGUIR AQUI
                        ============================================= -->
                        <div id="posts" class="post-grid row grid-container gutter-40 clearfix" data-layout="fitRows">
                            {% for noticia in ultimas_noticias %}
    
                            <div class="entry col-md-4 col-sm-6 col-12">
                                <div class="grid-inner">
                                    <div class="entry-image">
                                        <a href="images/blog/full/17.jpg" data-lightbox="image"><img
                                                src="{% static 'noticias/images/blog/grid/17.jpg' %}"
                                                alt="Standard Post with Image"></a>
                                    </div>
                                    <div class="entry-title">
                                        <h2><a href="blog-single.html"> {{noticia.titulo }} </a></h2>
                                    </div>
                                    <div class="entry-meta">
                                        <ul>
                                            <li><i class="icon-calendar3"></i> {{noticia.fecha_publicacion.date }}</li>
                                            <li><a href="blog-single.html#comments"><i class="icon-comments"></i>
                                                    {{noticia.autor }}</a></li>
                                            <!-- <li><a href="#"><i class="icon-camera-retro"></i></a></li> -->
                                        </ul>
                                    </div>
                                    <div class="entry-content">
                                        <p>{{noticia.contenido }}</p>
                                        <a href="blog-single.html" class="more-link">Leer más</a>
                                    </div>
                                </div>
                            </div>
    
                            {% endfor %}
    
    
    
                        </div><!-- #posts end -->
    
                        <div class="clear mt-5"></div>
    
                        <!-- Pagination
                            ============================================= -->
                        <div class="d-flex justify-content-between mt-5">
                            <a href="#" class="btn btn-outline-secondary">&larr; Anterior</a>
                            <a href="#" class="btn btn-outline-dark">Siguiente &rarr;</a>
                        </div>
                        <!-- .pager end -->
    
                    </div>
{% endblock %}