{% extends "base.html" %}

{% load static %}
{% load social_share %}


{% block tituloDePagina %}
{{ proyecto.titulo }}
{% endblock %}

{% block cabeceraContenido %}
<section id="page-title" class="page-title-parallax include-header min-vh-75 dark" style="background: transparent; padding: 120px 0;">
    
    <div class="swiper-slide-bg lazy" style="z-index: 1;" data-bg="{{ proyecto.imagen_proyecto.url }}"></div>
    <div class="shape-divider" data-shape="valley" data-position="bottom" data-height="120" data-flip="true" data-flip-vertical="true" data-fill="#FFF"></div>
</section><!-- #page-title end -->
{% endblock %}

{% block contenido %}



<!-- Content
		============================================= -->
<section id="content">
    
    {{ proyecto.descripcion|safe }}

    

    

    <div class="fancy-title title-border title-center">
        <h3>Estado del proyecto</h3>
    </div>

    <div class="container col-sm-9 mb-9 mb-sm-9 text-center">
        <div class="card-group">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Comienzo</h5>
              </div>
              <div class="card-body">
                <p class="card-text"><h3 class="card-title">{{ proyecto.fecha_creacion|date:"d F Y" }}</h3></p>
              </div>
              
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Última mofificación</h5>
                  </div>
              <div class="card-body">
                
                <p class="card-text"><h3 class="card-title">{{ proyecto.fecha_actualizado|date:"d F Y" }}</h3></p>
              </div>
              
            </div>
            
        </div>
    </div>
</br></br></br>

    <h3>Progreso</h3>

    <div class="progress" style="height: 30px;">
        {% if progreso_proyecto == 100 %}
        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{ progreso_proyecto }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progreso_proyecto|floatformat:"0"  }}%;">
            ¡Completado!
        </div>
        {% else %}
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ progreso_proyecto }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progreso_proyecto|floatformat:"0" }}%;">
            {{ progreso_proyecto|floatformat }}%
        </div>
        {% endif %}

        
        
      </div>
      
    </br></br>

    <div class="container text-center">
        <p> ¡Ayúdanos a completar nuestro proyecto compartiendo en RRSS!</p>

        <!-- Centered modal -->
        <button class="button button-large button-circle button-border button-blue" data-bs-toggle="modal" data-bs-target=".bs-example-modal-centered">
            <i class="icon-line-share">
          </i>Compartir</button>

        <div class="modal fade bs-example-modal-centered" tabindex="-1" role="dialog" aria-labelledby="centerModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Compartir en RRSS</h4>
                        <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <div class="modal-body">
                            <div class="container text-center">
                                <div class="row justify-content-md-center ">
                            {% post_to_twitter "¡Conoce el proyecto {{proyecto.titulo}}!" object_or_url  %}
                            {% post_to_facebook object_or_url %}
                            {% post_to_linkedin object_or_url %}
                            {% post_to_whatsapp object_or_url %}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    

    

    </br>
</br>


<h3>Etapas</h3>  

    

    {% for etapa in lista_etapas %}
    <div class="toggle toggle-border">
        <div class="toggle-header">
            <div class="toggle-icon">
                <i class="toggle-closed icon-line-plus"></i>
                <i class="toggle-open icon-line-minus"></i>
            </div>
            <div class="toggle-title">
                {{ etapa.titulo }}
            </div>
        </div>



        <div class="toggle-content">
            
            <div class="row">
                <div class="col-sm-9 mb-9 mb-sm-9">
                    {{ etapa.descripcion }}
                </div>
    

                {% if etapa.progreso == 100 %}
                <div class="col-sm-3 mb-3 mb-sm-3 text-center">
                    <div class="rounded-skill mb-0" data-color="#198754" data-size="150" data-percent="{{ etapa.progreso }}" data-width="3" data-speed="2500">
                        </span>¡Completado!
                    </div>
                </div>
                {% else %}
                <div class="col-sm-3 mb-3 mb-sm-3 text-center">
                    <div class="rounded-skill mb-0" data-color="#3F729B" data-size="150" data-percent="{{ etapa.progreso }}" data-width="3" data-speed="2500">
                        <div class="counter counter-inherit"><span data-from="0" data-to="{{ etapa.progreso }}" data-refresh-interval="50" data-speed="2000"></span>%</div>
                    </div>
                </div>
                {% endif %}


            </div>
        </div>
        
    </div>
    {% endfor %}

    <a href="{% url 'listado-proyectos'  %}" class="button button-border button-border-thin button-teal"><i class="icon-arrow-left2"></i>Atrás</a>


</section><!-- #content end -->



{% endblock %}