{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="Miguel Reyes Martínez" content="OurResearch" />

    <!-- Stylesheets PLANTILLA PARA INTRODUCIR DATOS - {% static 'noticias/css/colors.css' %}
        ============================================= -->
    <link
        href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap"
        rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'noticias/css/bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'noticias/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'noticias/css/dark.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'noticias/css/et-line.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'noticias/css/font-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'noticias/css/animate.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'noticias/css/magnific-popup.css' %}" type="text/css" />

    <link rel="stylesheet" href="{% static 'noticias/css/custom.css' %}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Here goes your colors.css ============================================= -->
	<link rel="stylesheet" href="{% static 'noticias/css/colors.css' %}" type="text/css" />

    <!-- Titulo de la página ============================================= -->
    <title>
        Our Research -
        {% block tituloDePagina %}
        {% endblock %}
    </title>

</head>

<body class="stretched">

    <!-- Document Wrapper
        ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Header
            ============================================= -->
        <header id="header" class="full-header">
            <div id="header-wrap">
                <div class="container">
                    <div class="header-row">

                        <!-- Logo {% static 'noticias/images/shop/small/6.jpg' %}
                            ============================================= -->
                        <div id="logo">
                            <a href="{% url 'home' %}" class="standard-logo"
                                data-dark-logo="{% static 'noticias/images/logo-dark.png' %}"><img
                                    src="{% static 'noticias/images/logo.png' %}" alt="Canvas Logo"></a>
                            <a href="{% url 'home' %}" class="retina-logo"
                                data-dark-logo="{% static 'noticias/images/logo-dark@2x.png' %}"><img
                                    src="{% static 'noticias/images/logo@2x.png' %}" alt="Canvas Logo"></a>
                        </div><!-- #logo end -->


                        <div id="primary-menu-trigger">
                            <svg class="svg-trigger" viewBox="0 0 100 100">
                                <path
                                    d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20">
                                </path>
                                <path d="m 30,50 h 40"></path>
                                <path
                                    d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20">
                                </path>
                            </svg>
                        </div>

                        <!-- Barra de navegacion
                            ============================================= -->
                        <nav class="primary-menu">

                            <ul class="menu-container">
                                <li class="menu-item">
                                    <a class="menu-link" href="/noticias">
                                        <div>Noticias</div>
                                    </a>
                                    {% if user.is_authenticated %}
                                    <ul class="sub-menu-container">
                                        <li class="menu-item">
                                            <a class="menu-link" href="{% url 'add-noticia' %}">
                                                <div>Añadir noticia</div>
                                            </a>
                                        </li>

                                    </ul>
                                    {% endif %}

                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="/members">
                                        <div>Miembros</div>
                                    </a>
                                </li>
                                <li class="menu-item mega-menu">
                                    <a class="menu-link" href="#">
                                        <div>Eventos</div>
                                    </a>
                                </li>
                                <li class="menu-item mega-menu">
                                    <a class="menu-link" href="#">
                                        <div>Publicaciones</div>
                                    </a>
                                </li>
                                <li class="menu-item mega-menu">
                                    <a class="menu-link" href="#">
                                        <div>Proyectos</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a class="menu-link" href="shop.html">
                                        <div>Contacto</div>
                                    </a>
                                </li>

                                {% if user.is_authenticated %}

                                <li class="menu-item">
                                    <a class="menu-link" href="shop.html">
                                        <div>Mi perfil</div>
                                    </a>
                                </li>

                                <li class="menu-item">
                                    <a class="menu-link" href="{% url 'logout' %}">

                                        <div class="menu-item mega-menu">
                                            <div><i class="icon-power-off"></i></div>
                                        </div>
                                    </a>
                                </li>

                                {% else %}
                                <div class="menu-item mega-menu">
                                    <a class="menu-link" href="{% url 'login' %}">
                                        <div>Login</div>
                                    </a>
                                </div>
                                {% endif %}

                            </ul>

                        </nav><!-- Fin de barra de navegación  -->

                        {% if user.is_authenticated %}
                        <div class="menu-item mega-menu">
                            <a class="menu-link" href="{% url 'editar-perfil' %}">
                                <div>¡Hola, {{ user.first_name }}!</div>
                            </a>
                        </div>
                        {% endif %}



                        <form class="top-search-form" action="search.html" method="get">
                            <input type="text" name="q" class="form-control" value=""
                                placeholder="Type &amp; Hit Enter.." autocomplete="off">
                        </form>

                    </div>
                </div>
            </div>
            <div class="header-wrap-clone"></div>
        </header><!-- #header end -->

        <!-- Titulo de página
            ============================================= -->

        <!-- Mensaje de error ============================================= -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        
        <!-- Fin de titulo de página -->

        <!-- Contenido
            ============================================= -->
        <section id="content">
            <div class="content-wrap">
                <div class="container clearfix">
                    <!-- Posts {% static 'noticias/images/blog/grid/17.jpg' %} SEGUIR AQUI
            ============================================= -->
                    {% block contenido %}


                    {% endblock %}
                </div>
        </section><!-- #content end -->

        <!-- Footer
            ============================================= -->
        <footer id="footer" class="dark">
            <div class="container">

                <!-- Footer Widgets {% static 'noticias/include/subscribe.php' %}
                    ============================================= -->
                <div class="footer-widgets-wrap">

                    <div class="row col-mb-50">
                        <div class="col-lg-8">

                            <div class="row col-mb-50">
                                <div class="col-md-4">

                                    <div class="widget clearfix">
                                  

                                        <div
                                            style="background: url('{% static 'noticias/images/world-map.png' %}') no-repeat center center; background-size: 100%;">
                                            <address>
                                                <strong>Oficina:</strong><br>
                                                C. Periodista Daniel Saucedo Aranda, s/n, 18014 Granada
                        
                                            </address>
                                            <abbr title="Phone Number"><strong>Teléfono:</strong></abbr> 958 24 28 02<br>
                                            <abbr title="Fax"><strong>Fax:</strong></abbr> +34-958242801<br>
                                        </div>

                                    </div>

                                </div>

                                

                                <div class="col-md-4">

                                    

                                </div>
                            </div>

                        </div>

                        <div class="col-lg-4">

                            <div class="row col-mb-50">
                               

                                <div class="col-md-5 col-lg-12">
                                    <div class="widget subscribe-widget clearfix">
                                        <h5><strong>Suscríbete</strong> a Nuestro Newsletter para recibir importantes noticias.</h5>
                                        <div class="widget-subscribe-form-result"></div>
                                        <form id="widget-subscribe-form"
                                            action="{% static 'noticias/include/subscribe.php' %}" method="post"
                                            class="mb-0">
                                            <div class="input-group mx-auto">
                                                <div class="input-group-text"><i class="icon-email2"></i></div>
                                                <input type="email" id="widget-subscribe-form-email"
                                                    name="widget-subscribe-form-email"
                                                    class="form-control required email" placeholder="Introduce tu email">
                                                <button class="btn btn-success" type="submit">Suscribirse</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="col-md-3 col-lg-12">
                                    <div class="widget clearfix" style="margin-bottom: -20px;">

                                        <div class="row">
                                            <div class="col-6 col-md-12 col-lg-6 clearfix bottommargin-sm">
                                                <a href="#" class="social-icon si-dark si-colored si-facebook mb-0"
                                                    style="margin-right: 10px;">
                                                    <i class="icon-facebook"></i>
                                                    <i class="icon-facebook"></i>
                                                </a>
                                                <a href="#"><small style="display: block; margin-top: 3px;"><strong>Da un "Me gusta"
                                                            us</strong><br>en Facebook</small></a>
                                            </div>
                                            <div class="col-6 col-md-12 col-lg-6 clearfix">
                                                <a href="#" class="social-icon si-dark si-colored si-rss mb-0"
                                                    style="margin-right: 10px;">
                                                    <i class="icon-rss"></i>
                                                    <i class="icon-rss"></i>
                                                </a>
                                                <a href="#"><small
                                                        style="display: block; margin-top: 3px;"><strong>Suscríbete</strong><br>a nuestras RRSS</small></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div><!-- .footer-widgets-wrap end -->

            </div>

            <!-- Copyrights
                ============================================= -->
            <div id="copyrights">
                <div class="container">

                    <div class="row col-mb-30">

                        <div class="col-md-6 text-center text-md-start">
                            Copyrights &copy; 2020 Todos los derechos reservados por Miguel Reyes Martínez<br>
                            <div class="copyright-links"><a href="#">Términos de uso</a> / <a href="#">Política de
                                    privacidad</a>
                            </div>
                        </div>

                        <div class="col-md-6 text-center text-md-end">
                            <div class="d-flex justify-content-center justify-content-md-end">
                                <a href="#" class="social-icon si-small si-borderless si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>

                                <a href="#" class="social-icon si-small si-borderless si-twitter">
                                    <i class="icon-twitter"></i>
                                    <i class="icon-twitter"></i>
                                </a>

                                <a href="#" class="social-icon si-small si-borderless si-gplus">
                                    <i class="icon-gplus"></i>
                                    <i class="icon-gplus"></i>
                                </a>

                                <a href="#" class="social-icon si-small si-borderless si-pinterest">
                                    <i class="icon-pinterest"></i>
                                    <i class="icon-pinterest"></i>
                                </a>

                                <a href="#" class="social-icon si-small si-borderless si-vimeo">
                                    <i class="icon-vimeo"></i>
                                    <i class="icon-vimeo"></i>
                                </a>

                                <a href="#" class="social-icon si-small si-borderless si-github">
                                    <i class="icon-github"></i>
                                    <i class="icon-github"></i>
                                </a>

                                <a href="#" class="social-icon si-small si-borderless si-yahoo">
                                    <i class="icon-yahoo"></i>
                                    <i class="icon-yahoo"></i>
                                </a>

                                <a href="#" class="social-icon si-small si-borderless si-linkedin">
                                    <i class="icon-linkedin"></i>
                                    <i class="icon-linkedin"></i>
                                </a>
                            </div>

                            <div class="clear"></div>

                            <i class="icon-envelope2"></i> info@canvas.com <span class="middot">&middot;</span> <i
                                class="icon-headphones"></i> +1-11-6541-6369 <span class="middot">&middot;</span> <i
                                class="icon-skype2"></i> CanvasOnSkype
                        </div>

                    </div>

                </div>
            </div><!-- #copyrights end -->
        </footer><!-- #footer end -->

    </div><!-- #wrapper end -->

    <!-- Go To Top
        ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- JavaScripts  {% static 'noticias/js/functions.js' %}
        ============================================= -->
    <script src="{% static 'noticias/js/jquery.js' %}"></script>
    <script src="{% static 'noticias/js/plugins.min.js' %}"></script>

    <!-- Footer Scripts
        ============================================= -->
    <script src="{% static 'noticias/js/functions.js' %}"></script>

</body>

</html>