{% extends "base.html" %}

{% load static %}


{% block tituloDePagina %}
Borrar noticia
{% endblock %}

{% block contenido %}

{% if user.is_authenticated %}
    {% if user.id == noticia.autor.id %}

        <h1>Borrar noticia...</h1>
        <br/><br/>

        <h3>Borrar: {{noticia.titulo}}</h3>

        <form method="POST">
            {% csrf_token %}

            <strong>¿Desea eliminar la noticia?</strong></br></br>
            <div class="col-12">
                <button type="submit" class="btn btn-secondary">¡Borrar noticia!</button>
            </div>
            

        </form>

    {% else %}

        <h2>Ups... ¡No deberías estar aquí!</h2>
        
    {% endif %}

{% else %}
    <h2>Ups... ¡No deberías estar aquí!</h2>
{% endif %}



{% endblock %}