{% extends "base.html" %}

{% load static %}


{% block tituloDePagina %}
    Home
{% endblock %}


{% block contenido %}

        
<div class="clear mt-5"></div>

                        <div class="container clearfix">
                            <h1>Noticias</h1>
                        </div>

                        <div class="container clearfix">
                            
                            <h3><a href="{% url 'pagina-noticias'  %}"> Listado de noticias </a></h3>
                        </div>

                        <div class="container clearfix">
                            <h1>Eventos</h1>
                        </div>

                        <div class="container clearfix">
                            <h3>Aquí irán los eventos</h3>
                        </div>

                        <div class="clear mt-5"></div>

                        <div class="container clearfix">
                            <h1>Publicaciones</h1>
                        </div>

                        <div class="container clearfix">
                            <h3>Aquí irán las publicaciones</h3>
                        </div>





</div>

           
{% endblock %}