{% extends "base.html" %}

{% load static %}


{% block tituloDePagina %}
Editar noticia
{% endblock %}

{% block contenido %}

{% if user.is_authenticated %} 
    {% if user.id == noticia.autor.id %} 
        <h1>Editar noticia...</h1>

        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            
            {{ form.as_p }}

            <div class="col-12">
                <button type="submit" class="btn btn-secondary">Actualizar</button>
            </div>
            <!-- Título 
            <div class="row">
                <div class="col-lg-12">

                    
                    <div class="col-6 form-group">
                        <label>{{ form.titulo.label_tag }} </label>
                        {{ form.titulo }}
                    </div>

                    
                    <div class="form-group">
                        <label>{{ form.cuerpo.label_tag }}</label>
                        {{ form.cuerpo }}
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-secondary">Actualizar</button>
                    </div>
                </div>
            </div>
            -->
        </form>
    {% else %}
        <h2>Ups... ¡No deberías estar aquí!</h2>
    {% endif %}
{% else %}
    <h2>Ups... ¡No deberías estar aquí!</h2>
{% endif %}


{% endblock %}