{% extends "base.html" %}

{% load static %}


{% block tituloDePagina %}
Perfil de usuario
{% endblock %}



{% block contenido %}


<!-- Page Title
		============================================= -->



<div class="row shadow bg-light border">

    <div class="col-lg-4 dark"
        style="background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('{{ pagina_usuario.imagen_perfil.url }}') center center / cover; min-height: 400px;">


    </div>
    <div class=" col-lg-8 p-5">
        <div class="team-desc">
            <div class="team-title">
                <h1>{{ pagina_usuario.user.first_name }} {{ pagina_usuario.user.last_name }}</h1><span>
                    <h3>{{ pagina_usuario.rol }}</h3>
                </span>
            </div>
            <blockquote class="quote">
                <p>
                <h4>{{ pagina_usuario.cita }}</h4>
                </p>
            </blockquote>
        </div>



    </div>




</div><!-- #page-title end -->



<!-- Content CONTINUAR AQUI
		============================================= {% static 'miembros/fondo_logros.jpg' %} -->
<section id="content">
    <div class="content-wrap pb-0">
        <div class="container">

            <h3>Sobre mi</h3>
            <span>{{ pagina_usuario.bio|safe }}</span>

        </div>
        <div class="divider divider-sm divider-border divider-center"><i class="icon-book3"></i></div>

        <div class="section parallax dark bottommargin-lg"
            style="background-image: url({% static 'miembros/fondo_logros.jpg' %}); background-size: cover; padding: 100px 0;"
            data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -500px;">

            <div class="container clearfix">

                <div class="row">
                    <div class="col-lg-4 text-center" data-animate="bounceIn">
                        <i class="i-plain i-large mx-auto mb-0 icon-study"></i>
                        <div class="counter counter-lined">Educación</div>
                        <h5>{{ pagina_usuario.logros_academicos }}</h5>
                    </div>


                    <div class="col-lg-4 text-center" data-animate="bounceIn" data-delay="400">
                        <i class="i-plain i-large mx-auto mb-0 icon-briefcase"></i>
                        <div class="counter counter-lined">Ocupación</div>
                        <h5>{{ pagina_usuario.logros_laborales }}</h5>
                    </div>

                    <div class="col-lg-4 text-center" data-animate="bounceIn" data-delay="200">
                        <i class="i-plain i-large mx-auto mb-0 icon-line-award"></i>
                        <div class="counter counter-lined">Reconocimientos</div>
                        <h5>{{ pagina_usuario.logros_honorificos }}</h5>
                    </div>


                </div>

            </div>

        </div>

        <div class="divider divider-sm divider-border divider-center"><i class="icon-like"></i></div>

        <div class="container clearfix">

            <div class="row">
                <div class="col-lg-4 col-md-6 bottommargin clearfix">

                    <div class="col-sm-6 col-lg-6">
                        <div class="feature-box fbox-effect">
                            <a href="{{ pagina_usuario.facebook_url }}"
                                class="social-icon si-colored si-facebook  si-large">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <div class="fbox-content">
                                <h3 class="text-center">Hablemos en Facebook</h3>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 bottommargin clearfix">

                    <div class="col-sm-6 col-lg-6">
                        <div class="feature-box fbox-effect">
                            <a href="{{ pagina_usuario.instagram_url }}"
                                class="social-icon si-colored si-instagram  si-large">
                                <i class="icon-instagram"></i>
                                <i class="icon-instagram"></i>
                            </a>
                            <div class="fbox-content">
                                <h3 class="text-center">Conóceme en Instagram</h3>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 bottommargin clearfix">

                    <div class="col-sm-6 col-lg-6">
                        <div class="feature-box fbox-effect">
                            <a href="{{ pagina_usuario.twitter_url }}"
                                class="social-icon si-colored si-twitter  si-large">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                            <div class="fbox-content">
                                <h3 class="text-center">Sígueme en Twitter</h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        

    </div>
    </br></br></br>
    <div class="row">
        <div class="col-4">
            <a href="{% url 'sobre-nosotros'  %}" class="button button-border button-border-thin button-teal"><i
                    class="icon-arrow-left2"></i>Atrás</a>
        <div>
    </div>

</section><!-- #content end -->


{% endblock %}