{% extends "base.html" %}

{% load static %}


{% block tituloDePagina %}
Eventos
{% endblock %}

{% block cabeceraContenido %}
<!-- Page Title
		============================================= -->
<section id="page-title" class="page-title-pattern">

    <div class="container clearfix">
        <h1>Próximos eventos</h1>
        <span>Conferencias, reuniones, charlas y actividades que realiza el equipo de OurResearch</span>
    </div>

</section><!-- #page-title end -->

{% endblock %}

{% block contenido %}









            <div class="row">
                {% for evento in object_list %}
                <div class="entry event col-12">
                    <div class="grid-inner row align-items-center g-0 p-4">
                        <div class="col-md-4 mb-md-0">
                            <a href="{% url 'evento-detallado' evento.id %}" class="entry-image">
                                <img src="{{ evento.imagen_evento.url }}" alt="{{ evento.imagen_evento.nombre }}">
                                <div class="entry-date">{{ evento.fecha_evento.day }}<span>{{ evento.fecha_evento|date:'F' }}</span></div>
                            </a>
                        </div>
                        <div class="col-md-8 ps-md-4">
                            <div class="entry-title title-sm">
                                <h2><a href="{% url 'evento-detallado' evento.id %}"> {{ evento.nombre }} </a></h2>
                            </div>
                            <div class="entry-meta">
                                <ul>
                                    <li><a href="#"><i class="icon-time"></i> {{ evento.fecha_evento|date:"h:i A" }}</a></li>
                                    <li><a href="{{ evento.ubicacion.web }}"><i class="icon-map-marker2"></i> {{ evento.ubicacion.nombre }}</a></li>
                                </ul>
                            </div>
                            <div class="entry-content">
                                {{ evento.descripcion|slice:":350"|safe }} ... </br>
                            </div>
                        

                            <div class="entry-content">
                                <a href="{% url 'evento-detallado' evento.id %}" class="button button-border button-border-thin button-teal">Leer más</a>
                            </div>

                        </div>
                        

                    </div>

                </div>
                

                {% endfor %}


            </div>

      





{% endblock %}